:root {
  /* Colors — Primary */
  --color-primary: #6c47ff;
  --color-secondary: #1cc4ff;
  --color-accent: #5de3ff;

  /* Colors — Neutrals */
  --color-neutral-50: #d9d9de;
  --color-neutral-100: #000000;
  --color-neutral-200: #ffffff;
  --color-neutral-300: #131316;
  --color-neutral-400: #747686;
  --color-neutral-500: #5e5f6e;
  --color-neutral-600: #2f3037;
  --color-neutral-700: #9394a1;
  --color-neutral-800: #696a78;
  --color-neutral-900: #eeeef0;

  /* Colors — Backgrounds */
  --color-bg: #f7f7f8;
  --color-bg-1: #f8f8f8;
  --color-bg-2: #131316;
  --color-bg-3: #ffffff;
  --color-bg-4: #212126;
  --color-bg-5: #2d2e3d;
  --color-bg-6: #29292e;
  --color-bg-7: #25252a;
  --color-bg-8: #2f3037;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #ffffff;
  --color-text-2: #131316;
  --color-text-3: #747686;
  --color-text-4: #5e5f6e;

  /* Typography — Families */
  --font-sans: 'geistNumbers', sans-serif;
  --font-body: 'soehneMono', sans-serif;

  /* Typography — Scale */
  --font-size-64: 64px;
  --font-size-32: 32px;
  --font-size-24: 24px;
  --font-size-18: 18px;
  --font-size-17: 17px;
  --font-size-16: 16px;
  --font-size-15: 15px;
  --font-size-14: 14px;
  --font-size-13: 13px;
  --font-size-12: 12px;
  --font-size-11: 11px;
  --font-size-10: 10px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-46: 46px;
  --spacing-56: 56px;
  --spacing-76: 76px;
  --spacing-94: 94px;
  --spacing-128: 128px;
  --spacing-140: 140px;
  --spacing-151: 151px;
  --spacing-158: 158px;
  --spacing-167: 167px;
  --spacing-172: 172px;
  --spacing-192: 192px;
  --spacing-220: 220px;
  --spacing-259: 259px;
  --spacing-272: 272px;
  --spacing-302: 302px;
  --spacing-320: 320px;

  /* Border Radius */
  --radius-xs: 2px;
  --radius-sm: 5px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-lg: 16px;
  --radius-full: 38px;
  --radius-full: 44px;
  --radius-full: 50px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(66, 67, 77) 0px 0px 0px 0.5px, oklab(0.999994 0.0000455678 0.0000200868 / 0.07) 0px 1px 0px 0px inset, oklab(0.249859 0.00254738 -0.00901626 / 0.2) 0px 1px 3px 0px;
  --shadow-sm: rgba(255, 255, 255, 0.9) 0px 0px 0px 0.5px inset, rgba(19, 19, 22, 0.15) 0px 0px 0px 0.5px, rgba(0, 0, 0, 0.04) 0px 2px 3px 0px, rgba(34, 42, 53, 0.04) 0px 4px 6px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0 0 0 / 0.08) 0px 2px 3px -1px, oklab(0.188081 0.0016512 -0.00579907 / 0.18) 0px 0px 0px 0.5px, oklab(0.999994 0.0000455678 0.0000200868 / 0.1) 0px 1px 0px 0px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(108, 71, 255) 0px 0px 0px 0.5px, oklab(0.999994 0.0000455678 0.0000200868 / 0.07) 0px 1px 0px 0px inset, oklab(0.249859 0.00254738 -0.00901626 / 0.2) 0px 1px 3px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0 0 0 / 0.08) 0px 2px 3px -1px, oklab(0.188081 0.0016512 -0.00579907 / 0.1) 0px 0px 0px 0.5px, oklab(0.999994 0.0000455678 0.0000200868 / 0.1) 0px 1px 0px 0px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px -9px 11px -10px, rgba(0, 0, 0, 0.05) 0px -0.25px 0px 0.25px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(147, 148, 161) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.188081 0.0016512 -0.00579907 / 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.08) 0px 5px 15px 0px, rgba(25, 28, 33, 0.2) 0px 15px 35px -5px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0 0 0 / 0.04) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px, rgba(0, 0, 0, 0.08) 0px 5px 15px 0px, rgba(47, 48, 55, 0.2) 0px 15px 35px -5px, rgba(34, 42, 53, 0.04) 0px 4px 6px 0px;
  --shadow-sm: rgb(217, 217, 222) 0px 0px 0px 0.5px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(0, 0, 0, 0.08) 0px 2px 3px -1px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 16px 36px -6px, rgba(0, 0, 0, 0.08) 0px 8px 16px -3px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px, rgba(0, 0, 0, 0.06) 0px 0.82px 1.64px 0px, rgba(0, 0, 0, 0.08) 0px 0px 1.64px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.11) 0px 0px 0px 1px, rgba(0, 0, 0, 0.07) 0px 0px 1px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.11) 0px 0px 0px 1px, rgba(0, 0, 0, 0.07) 0px 0px 1px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 0.82px, rgba(0, 0, 0, 0.08) 0px 0px 1.64px 0px, rgba(0, 0, 0, 0.06) 0px 0.82px 1.64px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(238, 238, 240) 0px 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 2px 0px -1px;
  --shadow-sm: rgba(0, 0, 0, 0.28) 0px 0px 0px 1px, rgba(0, 0, 0, 0.28) 0px 0px 1px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(217, 217, 222) 0px 0px 0px 0.5px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.025) 0px 1px 0px 0px inset, oklab(0.999994 0.0000455678 0.0000200868 / 0.025) 0px 0px 0px 1px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.188081 0.0016512 -0.00579907 / 0.5) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.03) 0px 1px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0 0 0 / 0.5) 0px 2px 12px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.05) 0px 1px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px 2px 13px 0px, rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0 0 0 / 0.75) 0px 0px 0px 2px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.05) 0px 1px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.1) 0px 1px 0px 0px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(39, 39, 45) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.05) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, lab(84.5189 -31.4667 -23.9754 / 0.08) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.07) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
  --shadow-sm: rgba(239, 68, 68, 0.12) 0px 0px 0px 1px inset, rgba(239, 68, 68, 0.12) 0px 0px 10px 2px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0 0 0 / 0.05) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.15) 0px 0px 1px 0px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.08) 0px 1px 0px 0px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.02) 0px 1px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.06) 0px -1px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.02) 0px -2px 4px 0px, oklab(0 0 0 / 0.2) 0px 1px 1px 0px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.08) 2.5px -2.5px 0px -2px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.999994 0.0000455678 0.0000200868 / 0.08) -2.5px 2.5px 0px -2px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0 0 0 / 0.2) 0px 0px 0px 1px, oklab(0 0 0 / 0.1) 0px 4px 6px -1px, oklab(0 0 0 / 0.1) 0px 2px 4px -2px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.809096 -0.102602 -0.0875665 / 0.1) 0px 0px 6px 3px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.06) 0px 1px 0px 0px, rgba(0, 0, 0, 0.15) 0px 2px 5px 0px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(107, 231, 255, 0.3) 0px 0px 9px 0px;
  --shadow-xs: rgba(255, 255, 255, 0.05) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
  --shadow-xs: rgba(255, 255, 255, 0.05) 0px 1px 0px 0px;
  --shadow-xs: rgba(255, 255, 255, 0.05) 0px 1px 0px 0px inset;
  --shadow-xs: rgba(0, 0, 0, 0.24) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px 2px 3px 0px, rgba(255, 255, 255, 0.07) 0px 1px 1px 0px inset, rgb(47, 48, 55) 0px 0px 0px 1px;
  --shadow-xs: rgba(255, 255, 255, 0.05) 0px 1px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px 2px 13px 0px, rgba(0, 0, 0, 0.2) 0px 1px 2px 0px, rgba(19, 19, 22, 0.5) 0px 0px 0px 3px;
  --shadow-xs: rgba(0, 0, 0, 0.3) 0px 0px 3px 1px;
  --shadow-xs: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px, rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
  --shadow-sm: rgba(107, 231, 255, 0.3) 0px 0px 8px 1px, rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset;
  --shadow-lg: rgba(19, 19, 22, 0.6) 0px 6px 12px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  --shadow-lg: rgba(0, 0, 0, 0.16) 0px 10px 19px 4px, rgba(255, 255, 255, 0.04) 0px -10px 16px -4px, rgba(255, 255, 255, 0.01) 0px 0px 0px 1px, rgba(255, 255, 255, 0.02) 0px 1px 0px 0px;

  /* Original Site Variables */
  /* — colors — */
  --color-purple-200: #d7d4ff;
  --color-slate-200: lab(91.7353% -.998765 -4.76968);
  --color-sky-500: #00aee3;
  --color-pink-500: lab(56.9303% 76.8162 -8.07021);
  --color-orange-600: #ea520c;
  --color-red-900: #7f1d1d;
  --color-orange-800: #9a2f12;
  --color-blue-700: #1d4ed8;
  --color-purple-800: #4818bf;
  --color-orange-900: #7c2912;
  --tw-inset-ring-shadow: 0 0 #0000;
  --color-orange-50: #fff6ed;
  --color-blue-300: #93c5fd;
  --color-neutral-200: lab(90.952% 0 -.0000119209);
  --color-gray-300: #b7b8c2;
  --color-yellow-400: #efd420;
  --color-amber-300: lab(86.4156% 6.13147 78.3961);
  --color-gray-500: #747686;
  --color-green-500: #22c543;
  --color-white: #fff;
  --color-sky-600: #0089be;
  --color-gray-400: #9394a1;
  --color-blue-400: #60a5fa;
  --color-pink-50: lab(96.4459% 4.53997 -1.49434);
  --color-yellow-300: #fde047;
  --color-gray-100: #eeeef0;
  --color-purple-600: #6430f7;
  --color-sky-50: #ebfdff;
  --typography-color: #42434d;
  --color-green-900: #145323;
  --color-blue-800: #1e40af;
  --color-neutral-100: lab(96.52% -.0000298023 .0000119209);
  --color-blue-100: #dbeafe;
  --color-green-600: #16a332;
  --color-green-950: #052e0f;
  --color-gray-25: #fafafb;
  --color-yellow-950: #422006;
  --color-red-300: #fca5a5;
  --color-sky-300: #5de3ff;
  --color-orange-500: #f36b16;
  --color-sky-400: #3ad4fd;
  --typography-tbody-border: #eeeef0;
  --color-green-400: #4ade68;
  --color-yellow-50: #fefce8;
  --color-gray-950: #131316;
  --color-amber-900: lab(31.2288% 30.2627 40.0378);
  --color-gray-600: #5e5f6e;
  --color-indigo-500: lab(48.295% 38.3129 -81.9673);
  --color-orange-100: #ffebd5;
  --color-purple-400: #9785ff;
  --color-yellow-200: #fef18a;
  --color-blue-600: #2563eb;
  --color-green-200: #bbf7c6;
  --tw-border-style: solid;
  --shiki-light-token-string-expression: #00aee3;
  --color-red-600: #dc2626;
  --color-blue-50: #eff6ff;
  --shiki-token-string: #5de3ff;
  --color-indigo-700: lab(32.4486% 49.2217 -84.6695);
  --color-black: #000;
  --color-gray-850: #27272d;
  --tw-border-spacing-y: 0px;
  --color-stone-800: lab(15.0353% 1.96067 1.53427);
  --typography-link-icon-bg: #eeeef0;
  --color-orange-200: #fed1aa;
  --tw-ring-shadow: 0 0 #0000;
  --color-purple-500: #6c47ff;
  --typography-link-icon-bg-hover: #131316;
  --color-yellow-600: #ca8a04;
  --typography-code-border: #d9d9de;
  --color-yellow-800: #854d0e;
  --shiki-light-token-string: #00aee3;
  --color-green-100: #dcfce2;
  --tw-border-spacing-x: 0px;
  --color-red-200: #fecaca;
  --color-purple-900: #3c169c;
  --color-sky-800: #0e597c;
  --color-gray-50: #f7f7f8;
  --color-stone-950: lab(2.86037% .455312 .568903);
  --color-violet-400: lab(62.8239% 34.9159 -60.0512);
  --color-purple-100: #eae8ff;
  --tw-ring-offset-color: #fff;
  --color-red-400: #f87171;
  --color-red-800: #991b1b;
  --color-red-500: #ef4444;
  --tw-ring-offset-width: 0px;
  --color-purple-950: #230b6a;
  --root-bg: #f7f7f8;
  --color-indigo-600: lab(38.4009% 52.6132 -92.3857);
  --color-sky-700: #056d99;
  --color-slate-50: lab(98.1434% -.369519 -1.05966);
  --color-orange-300: #fdb674;
  --typography-thead-border: #d9d9de;
  --color-yellow-100: #fef9c3;
  --tw-ring-offset-shadow: 0 0 #0000;
  --shiki-foreground: #fff;
  --color-gray-800: #2f3037;
  --color-stone-100: lab(96.5286% -.0991821 .364268);
  --color-orange-700: #c23a0c;
  --color-green-50: #f0fdf2;
  --color-sky-100: #ccf9ff;
  --color-orange-950: #431207;
  --color-amber-500: lab(72.7183% 31.8672 97.9407);
  --color-orange-400: #f98c49;
  --color-sky-900: #104a69;
  --color-gray-150: #e3e3e7;
  --color-yellow-700: #a16207;
  --color-green-800: #166527;
  --color-red-700: #b91c1c;
  --color-slate-100: lab(96.286% -.852436 -2.46847);
  --color-blue-500: #3b82f6;
  --color-gray-900: #212126;
  --color-sky-950: #043048;
  --color-blue-900: #1e3a8a;
  --color-yellow-900: #713f12;
  --color-gray-700: #42434d;
  --color-gray-750: #373840;
  --typography-code-bg: #fff;
  --color-purple-50: #f4f2ff;
  --color-red-100: #fef2f2;
  --color-amber-950: lab(15.8111% 20.9107 23.3752);
  --color-stone-200: lab(91.055% .663072 .865579);
  --shiki-token-string-expression: #5de3ff;
  --color-green-300: #86ef9b;
  --color-blue-200: #bfdbfe;
  --color-red-50: #fef2f2;
  --color-gray-200: #d9d9de;
  --color-red-950: #450a0a;
  --color-green-700: #15802a;
  --color-purple-700: #561ee3;
  --shiki-light-foreground: #131316;
  --color-neutral-800: lab(15.204% 0 -.00000596046);
  --color-yellow-500: #eab308;
  --color-sky-200: #9ff1ff;
  --color-blue-950: #0e1a3a;
  --color-amber-50: lab(98.6252% -.635922 8.42309);
  --color-amber-200: lab(91.7203% -.505269 49.9084);
  --color-purple-300: #bab1ff;
  /* — spacing — */
  --text-5_5xl--letter-spacing: -.035em;
  --text-6xl--letter-spacing: -.035em;
  --text-4_5xl--letter-spacing: -.035em;
  --tw-space-x-reverse: 0;
  --spacing: .25rem;
  --text-5xl--letter-spacing: -.025em;
  --tw-space-y-reverse: 0;
  --text-4xl--letter-spacing: -.015em;
  --cl-collapsible-mask-size: 0px;
  /* — typography — */
  --text-base--line-height: 1.75rem;
  --tracking-wider: .05em;
  --font-mono: "soehneMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --animate-letter-reveal: letter-reveal .3s ease-out both;
  --font-weight-bold: 700;
  --text-2xs: .6875rem;
  --text-xs--line-height: 1.25rem;
  --text-2xs--line-height: 1.25rem;
  --text-xl: 1.25rem;
  --text-5_5xl: 3.5rem;
  --leading-snug: 1.375;
  --text-6xl--font-weight: 700;
  --text-2xl--line-height: 2rem;
  --font-suisse: "suisse", "suisse Fallback";
  --text-xl--line-height: 1.75rem;
  --text-sm: .8125rem;
  --leading-tight: 1.25;
  --font-weight-book: 450;
  --text-4xl--line-height: 2.5rem;
  --text-5_5xl--line-height: 4rem;
  --tracking-tight: -.025em;
  --text-2xl: 1.5rem;
  --text-lg: 1.125rem;
  --font-geist-numbers: "geistNumbers";
  --text-4xl--font-weight: 600;
  --text-5xl--line-height: 3.5rem;
  --leading-normal: 1.5;
  --text-5xl--font-weight: 600;
  --text-lg--line-height: 1.75rem;
  --font-sans: "geistNumbers", "suisse", "suisse Fallback";
  --text-5_5xl--font-weight: 700;
  --text-6xl: 4rem;
  --default-font-family: "geistNumbers", "suisse", "suisse Fallback";
  --text-4_5xl: 2.5rem;
  --text-4_5xl--line-height: 3rem;
  --font-soehne-mono: "soehneMono";
  --tracking-tighter: -.05em;
  --font-weight-semibold: 600;
  --tracking-wide: .025em;
  --font-weight-extrabold: 800;
  --text-4xl: 2.25rem;
  --tracking-normal: 0em;
  --text-sm--line-height: 1.5rem;
  --text-3xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-xs: .75rem;
  --text-3xl: 2rem;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --tracking-widest: .1em;
  --text-6xl--line-height: 4.5rem;
  --leading-loose: 2;
  --font-mosaic: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-base: .9375rem;
  --text-4_5xl--font-weight: 700;
  --default-mono-font-family: "soehneMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* — shadows — */
  --tw-inset-shadow-alpha: 100%;
  --tw-inset-shadow: 0 0 #0000;
  --tw-shadow-alpha: 100%;
  --drop-shadow-sm: 0 1px 2px #00000026;
  --tw-drop-shadow-alpha: 100%;
  --drop-shadow-2xl: 0 25px 25px #00000026;
  --drop-shadow-md: 0 3px 3px #0000001f;
  --tw-shadow: 0 0 #0000;
  /* — radii — */
  --radius-4xl: 2rem;
  --radius-sm: .25rem;
  --radius-2xl: 1rem;
  --radius-md: .375rem;
  --radius-lg: .5rem;
  --radius-3xl: 1.5rem;
  --radius-xs: .125rem;
  --radius-xl: .75rem;
  /* — other — */
  --header-mt: 3rem;
  --container-md: 28rem;
  --typography-link: #131316;
  --aspect-video: 16 / 9;
  --blur-lg: 16px;
  --typography-heavy: #131316;
  --tw-outline-style: solid;
  --ease-in: cubic-bezier(.4, 0, 1, 1);
  --typography-underline: #d9d9de;
  --shiki-light-token-comment: #9394a1;
  --post-0-active: 1;
  --shiki-light-token-link: #22c543;
  --tw-gradient-from: rgba(0, 0, 0, 0);
  --shiki-light-token-function: #6c47ff;
  --tw-gradient-to: rgba(0, 0, 0, 0);
  --shiki-light-token-keyword: #6c47ff;
  --blur-2xl: 40px;
  --_number-flow-d-opacity: 0;
  --tw-gradient-via-position: 50%;
  --tw-gradient-to-position: 100%;
  --default-transition-duration: .15s;
  --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
  --container-xs: 20rem;
  --shiki-token-function: #bab1ff;
  --light: ;
  --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --_number-flow-d: 0;
  --tw-translate-z: 0;
  --tw-gradient-via: rgba(0, 0, 0, 0);
  --tw-scale-y: 1;
  --container-6xl: 72rem;
  --breakpoint-lg: 64em;
  --container-3xl: 48rem;
  --blur-xs: 4px;
  --tw-translate-y: 0;
  --ease-out: cubic-bezier(0, 0, .2, 1);
  --tw-content: "";
  --tw-translate-x: 0;
  --typography-underline-hover: #131316;
  --typography-link-indicator: #eeeef0;
  --container-3xs: 16rem;
  --container-xl: 36rem;
  --tw-scrollbar-track: rgba(0, 0, 0, 0);
  --_number-flow-dx: 0px;
  --breakpoint-xl: 80em;
  --shiki-token-keyword: #bab1ff;
  --shiki-light-token-punctuation: #747686;
  --blur-xl: 24px;
  --breakpoint-2xl: 96em;
  --tw-scale-z: 1;
  --container-sm: 24rem;
  --typography-code: #131316;
  --tw-scroll-snap-strictness: proximity;
  --typography-heading: #131316;
  --container-lg: 32rem;
  --_number-flow-d-width: 0;
  --tw-gradient-from-position: 0%;
  --ease-in-out: cubic-bezier(.4, 0, .2, 1);
  --root-pr: 0px;
  --typography-link-indicator-hover: #131316;
  --shiki-token-parameter: #86ef9b;
  --container-5xl: 64rem;
  --typography-link-hover: #131316;
  --shiki-token-constant: #86ef9b;
  --typography-strong: #131316;
  --blur-md: 12px;
  --shiki-light-token-parameter: #22c543;
  --typography-link-icon-hover: #fff;
  --shiki-token-comment: #9394a1;
  --animate-spin: spin 1s linear infinite;
  --container-4xl: 56rem;
  --animate-fade-in: fade-in .3s linear both;
  --shiki-light-token-constant: #22c543;
  --tw-divide-y-reverse: 0;
  --breakpoint-md: 48em;
  --container-2xl: 42rem;
  --dark: ;
  --tw-scrollbar-thumb: rgba(0, 0, 0, 0);
  --shiki-token-link: #86ef9b;
  --tw-scale-x: 1;
  --typography-link-icon: #9394a1;
  --shiki-token-punctuation: #b7b8c2;
  --animate-blink: blink 1s step-end infinite;
  --breakpoint-sm: 40em;
  --container-7xl: 80rem;
  --blur-sm: 8px;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}