:root {
  /* Colors — Primary */
  --color-primary: #59497a;
  --color-secondary: #291839;
  --color-accent: #1f132a;

  /* Colors — Neutrals */
  --color-neutral-50: #33323e;
  --color-neutral-100: #f7f7f8;
  --color-neutral-200: #545260;
  --color-neutral-300: #a1a0ab;
  --color-neutral-400: #609f89;
  --color-neutral-500: #878593;
  --color-neutral-600: #dcdce0;
  --color-neutral-700: #000000;

  /* Colors — Backgrounds */
  --color-bg: #13111c;
  --color-bg-1: #000000;
  --color-bg-2: #180d43;
  --color-bg-3: #1f132a;
  --color-bg-4: #0d0c14;
  --color-bg-5: #1b2132;
  --color-bg-6: #1f2b2e;

  /* Colors — Text */
  --color-text: #ffffff;
  --color-text-1: #13111c;
  --color-text-2: #a667e4;
  --color-text-3: #f7f7f8;
  --color-text-4: #dcdce0;

  /* Typography — Families */
  --font-body: 'Inter', sans-serif;
  --font-body: 'JetBrains Mono', sans-serif;
  --font-body: 'Helvetica', sans-serif;
  --font-heading: 'IBM Plex Serif', sans-serif;

  /* Typography — Scale */
  --font-size-54: 54px;
  --font-size-40: 40px;
  --font-size-36: 36px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-13.3333: 13.3333px;
  --font-size-12: 12px;
  --font-size-11.6667: 11.6667px;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-60: 60px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-128: 128px;
  --spacing-159: 159px;
  --spacing-235: 235px;
  --spacing-262: 262px;

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 50px;
  --radius-full: 9999px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.2) 0px 0px 0px 1.5px inset;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(62, 45, 45, 0.24) 0px 100px 191px 0px, rgba(62, 45, 45, 0.165) 0px 36.5016px 69.7181px 0px, rgba(62, 45, 45, 0.133) 0px 17.7209px 33.8469px 0px, rgba(62, 45, 45, 0.106) 0px 8.6871px 16.5924px 0px, rgba(62, 45, 45, 0.075) 0px 3.43489px 6.56065px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  --shadow-xs: rgb(204, 204, 204) 0px 0px 2px 2px;
  --shadow-xl: rgba(65, 78, 166, 0.1) 0px -12px 127px 0px, rgba(65, 78, 166, 0.07) 0px -4.38px 46.357px 0px, rgba(65, 78, 166, 0.06) 0px -2.127px 22.506px 0px, rgba(65, 78, 166, 0.04) 0px -1.042px 11.033px 0px, rgba(65, 78, 166, 0.03) 0px -0.412px 4.362px 0px;

  /* Original Site Variables */
  /* — colors — */
  --osano-button-border-color: #33323e;
  --osano-button-background-color: #59497a;
  --osano-button-foreground-color: #FFFFFF;
  --osano-dialog-background-color: #13111c;
  --osano-dialog-foreground-color: #FFFFFF;
  --osano-info-dialog-overlay-color: rgba(0,0,0,0.45);
  --osano-link-color: #ffffff;
  --osano-toggle-off-track-color: #535361;
  --osano-toggle-off-thumb-color: #FFFFFF;
  --osano-toggle-on-track-color: #13111c;
  --osano-toggle-on-thumb-color: #13111c;
  --osano-widget-color: #37cd8f;
  --osano-widget-outline-color: #29246a;
  --osano-widget-fill-color: #fff;
  --osano-button-close-color: #13111c;
  --osano-button-accept-background-color: var(--osano-button-background-color);
  --osano-button-accept-border-color: var(--osano-button-border-color, var(--osano-button-foreground-color));
  --osano-button-accept-foreground-color: var(--osano-button-foreground-color);
  --osano-button-deny-background-color: #20202e;
  --osano-button-deny-border-color: #34343d;
  --osano-button-deny-foreground-color: #FFFFFF;
  --osano-button-reject-all-background-color: var(--osano-button-background-color);
  --osano-button-reject-all-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
  --osano-button-reject-all-border-color: var(--osano-button-border-color, var(--osano-button-foreground-color));
  --osano-button-reject-all-foreground-color: var(--osano-button-foreground-color);
  --osano-button-manage-background-color: var(--osano-button-background-color);
  --osano-button-manage-border-color: var(--osano-button-border-color, var(--osano-button-foreground-color));
  --osano-button-manage-foreground-color: var(--osano-button-foreground-color);
  --osano-info-dialog-link-color: var(--osano-link-color);
  --osano-info-dialog-button-close-color: var(--osano-info-dialog-foreground-color, var(--osano-dialog-foreground-color));
  --osano-info-dialog-toggle-off-track-color: var(--osano-toggle-off-track-color);
  --osano-info-dialog-toggle-off-thumb-color: var(--osano-toggle-off-thumb-color);
  --osano-info-dialog-toggle-on-track-color: var(--osano-toggle-on-track-color);
  --osano-info-dialog-toggle-on-thumb-color: var(--osano-toggle-on-thumb-color);
  --osano-info-dialog-button-background-color: var(--osano-button-background-color);
  --osano-info-dialog-button-border-color: var(--osano-info-dialog-button-foreground-color, var(--osano-button-foreground-color));
  --osano-info-dialog-button-foreground-color: var(--osano-button-foreground-color);
  --osano-dialog-gpc-background-color: var(--osano-dialog-background-color);
  --osano-dialog-gpc-border-color: var(--osano-dialog-foreground-color);
  --osano-dialog-gpc-foreground-color: var(--osano-dialog-foreground-color);
  --osano-dialog-gpc-color: #37cd84;
  --osano-info-dialog-gpc-background-color: var(--osano-info-dialog-background-color, var(--osano-dialog-background-color));
  --osano-info-dialog-gpc-border-color: var(--osano-info-dialog-foreground-color, var(--osano-dialog-foreground-color));
  --osano-info-dialog-gpc-foreground-color: var(--osano-info-dialog-foreground-color, var(--osano-dialog-foreground-color));
  --osano-info-dialog-gpc-color: var(--osano-dialog-gpc-color);
  --osano-gpc-background-color: #ffffff;
  --osano-gpc-border-color: #058a5e;
  --osano-gpc-foreground-color: #058a5e;
  --osano-gpc-color: #37cd84;
  --osano-gpc-background-color-hover: #ffffff;
  --osano-info-dialog-background-color: #180D43;
  --osano-info-dialog-foreground-color: #FFFFFF;
  --osano-toggle-off-background-color: #d2cfff;
  --osano-toggle-button-off-color: #ffffff;
  --osano-toggle-on-background-color: #37cd8f;
  --osano-toggle-button-on-color: #f4f4f4;
  --osano-button-background-color-contrast: #6d5d8e;
  --osano-button-foreground-color-contrast: #ebebeb;
  --osano-button-deny-background-color-contrast: #343442;
  --osano-button-deny-foreground-color-contrast: #ebebeb;
  --osano-dialog-background-color-contrast: #272530;
  --osano-dialog-foreground-color-contrast: #ebebeb;
  --osano-link-color-contrast: #ebebeb;
  --osano-toggle-off-track-color-contrast: #676775;
  --osano-toggle-off-track-color-disabled: #9393a1;
  --osano-toggle-off-thumb-color-contrast: #ebebeb;
  --osano-toggle-off-thumb-color-disabled: #bfbfbf;
  --osano-toggle-on-track-color-contrast: #272530;
  --osano-toggle-on-track-color-disabled: #53515c;
  --osano-toggle-on-thumb-color-contrast: #272530;
  --osano-toggle-on-thumb-color-disabled: #53515c;
  --osano-gpc-background-color-contrast: #ebebeb;
  --osano-button-background-color-hover: var(--osano-button-background-color-contrast, #6d5d8e);
  --osano-button-foreground-color-hover: var(--osano-button-foreground-color-contrast, #ebebeb);
  --osano-button-background-color-focus: var(--osano-button-foreground-color-hover, var(--osano-button-foreground-color-contrast));
  --osano-button-foreground-color-focus: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
  --osano-toggle-off-track-color-hover: var(--osano-toggle-off-track-color-contrast, #676775);
  --osano-toggle-off-thumb-color-hover: var(--osano-toggle-off-thumb-color-contrast, #ebebeb);
  --osano-toggle-off-track-color-focus: var(--osano-toggle-off-thumb-color-hover, var(--osano-toggle-off-thumb-color-contrast));
  --osano-toggle-off-thumb-color-focus: var(--osano-toggle-off-track-color-hover, var(--osano-toggle-off-track-color-contrast));
  --osano-toggle-on-track-color-hover: var(--osano-toggle-on-track-color-contrast, #272530);
  --osano-toggle-on-thumb-color-hover: var(--osano-toggle-on-thumb-color-contrast, #272530);
  --osano-toggle-on-track-color-focus: var(--osano-toggle-on-thumb-color-hover, var(--osano-toggle-on-thumb-color-contrast));
  --osano-toggle-on-thumb-color-focus: var(--osano-toggle-on-track-color-hover, var(--osano-toggle-on-track-color-contrast));
  --osano-button-accept-background-color-contrast: var(--osano-button-background-color-contrast, #6d5d8e);
  --osano-button-accept-foreground-color-contrast: var(--osano-button-foreground-color-contrast, #ebebeb);
  --osano-button-accept-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
  --osano-button-accept-foreground-color-hover: var(--osano-button-accept-foreground-color-contrast, var(--osano-button-foreground-color-contrast));
  --osano-button-accept-background-color-focus: var(--osano-button-accept-foreground-color-hover, var(--osano-button-accept-foreground-color-contrast));
  --osano-button-accept-foreground-color-focus: var(--osano-button-accept-background-color-hover, var(--osano-button-background-color-hover));
  --osano-button-deny-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
  --osano-button-deny-foreground-color-hover: var(--osano-button-deny-foreground-color-contrast, #ebebeb);
  --osano-button-deny-background-color-focus: var(--osano-button-deny-foreground-color-hover, var(--osano-button-deny-foreground-color-contrast));
  --osano-button-deny-foreground-color-focus: var(--osano-button-deny-background-color-hover, var(--osano-button-background-color-hover));
  --osano-button-reject-all-background-color-contrast: var(--osano-button-background-color-contrast, #6d5d8e);
  --osano-button-reject-all-foreground-color-contrast: var(--osano-button-foreground-color-contrast, #ebebeb);
  --osano-button-reject-all-foreground-color-hover: var(--osano-button-reject-all-foreground-color-contrast, var(--osano-button-foreground-color-contrast));
  --osano-button-reject-all-background-color-focus: var(--osano-button-reject-all-foreground-color-hover, var(--osano-button-reject-all-foreground-color-contrast));
  --osano-button-reject-all-foreground-color-focus: var(--osano-button-reject-all-background-color-hover, var(--osano-button-background-color-hover));
  --osano-button-manage-background-color-contrast: var(--osano-button-background-color-contrast, #6d5d8e);
  --osano-button-manage-foreground-color-contrast: var(--osano-button-foreground-color-contrast, #ebebeb);
  --osano-button-manage-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
  --osano-button-manage-foreground-color-hover: var(--osano-button-manage-foreground-color-contrast, var(--osano-button-foreground-color-contrast));
  --osano-button-manage-background-color-focus: var(--osano-button-manage-foreground-color-hover, var(--osano-button-manage-foreground-color-contrast));
  --osano-button-manage-foreground-color-focus: var(--osano-button-manage-background-color-hover, var(--osano-button-background-color-hover));
  --osano-info-dialog-button-background-color-contrast: var(--osano-button-background-color-contrast, #6d5d8e);
  --osano-info-dialog-button-foreground-color-contrast: var(--osano-button-foreground-color-contrast, #ebebeb);
  --osano-info-dialog-button-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
  --osano-info-dialog-button-foreground-color-hover: var(--osano-info-dialog-button-foreground-color-contrast, var(--osano-button-foreground-color-contrast));
  --osano-info-dialog-button-background-color-focus: var(--osano-info-dialog-button-foreground-color-hover, var(--osano-info-dialog-button-foreground-color-contrast));
  --osano-info-dialog-button-foreground-color-focus: var(--osano-info-dialog-button-background-color-hover, var(--osano-button-background-color-hover));
  --osano-info-dialog-toggle-off-track-color-contrast: var(--osano-toggle-off-track-color-contrast, #676775);
  --osano-info-dialog-toggle-off-thumb-color-contrast: var(--osano-toggle-off-thumb-color-contrast, #ebebeb);
  --osano-info-dialog-toggle-off-track-color-hover: var(--osano-info-dialog-toggle-off-track-color-contrast, var(--osano-toggle-off-track-color-contrast));
  --osano-info-dialog-toggle-off-thumb-color-hover: var(--osano-info-dialog-toggle-off-thumb-color-contrast, var(--osano-toggle-off-thumb-color-contrast));
  --osano-info-dialog-toggle-off-track-color-focus: var(--osano-info-dialog-toggle-off-thumb-color-hover, var(--osano-info-dialog-toggle-off-thumb-color-contrast));
  --osano-info-dialog-toggle-off-thumb-color-focus: var(--osano-info-dialog-toggle-off-track-color-hover, var(--osano-info-dialog-toggle-off-track-color-contrast));
  --osano-info-dialog-toggle-off-track-color-disabled: var(--osano-toggle-off-track-color-disabled, #9393a1);
  --osano-info-dialog-toggle-off-thumb-color-disabled: var(--osano-toggle-off-thumb-color-disabled, #bfbfbf);
  --osano-info-dialog-toggle-on-track-color-contrast: var(--osano-toggle-on-track-color-contrast, #272530);
  --osano-info-dialog-toggle-on-thumb-color-contrast: var(--osano-toggle-on-thumb-color-contrast, #272530);
  --osano-info-dialog-toggle-on-track-color-hover: var(--osano-info-dialog-toggle-on-track-color-contrast, var(--osano-toggle-on-track-color-contrast));
  --osano-info-dialog-toggle-on-thumb-color-hover: var(--osano-info-dialog-toggle-on-thumb-color-contrast, var(--osano-toggle-on-thumb-color-contrast));
  --osano-info-dialog-toggle-on-track-color-focus: var(--osano-info-dialog-toggle-on-thumb-color-hover, var(--osano-info-dialog-toggle-on-thumb-color-contrast));
  --osano-info-dialog-toggle-on-thumb-color-focus: var(--osano-info-dialog-toggle-on-track-color-hover, var(--osano-info-dialog-toggle-on-track-color-contrast));
  --osano-info-dialog-toggle-on-track-color-disabled: var(--osano-toggle-on-track-color-disabled, #53515c);
  --osano-info-dialog-toggle-on-thumb-color-disabled: var(--osano-toggle-on-thumb-color-disabled, #53515c);
  --osano-info-dialog-link-color-contrast: var(--osano-link-color-contrast, #ebebeb);
  --foreground: hsl(0, 0%, 100%);
  --secondaryBg: hsl(250, 21%, 11%);
  --tw-ring-color: #93c5fd80;
  --tw-border-spacing-y: 0;
  --tw-ring-shadow: 0 0 #0000;
  --tw-border-spacing-x: 0;
  --tw-ring-offset-color: #fff;
  --tw-ring-offset-width: 0px;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-inset: ;
  /* — spacing — */
  --tw-numeric-spacing: ;
  --tw-contain-size: ;
  /* — typography — */
  --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-inter-tight: 'Inter Tight', var(--font-inter);
  --font-jetbrains-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, monospace;
  --font-ibm-plex-serif: 'IBM Plex Serif', Georgia, Cambria, 'Times New Roman', serif;
  /* — shadows — */
  --spreadShadow: 0 0 30px hsla(0,0%,30%,.25);
  --shadow-opacity: 0.07;
  --tw-drop-shadow: ;
  --tw-shadow: 0 0 #0000;
  /* — other — */
  --osano-clear-dialog-background: rgba(24,13,67,0);
  --osano-dialog-type: bar;
  --osano-display-position: bottom;
  --osano-info-dialog-position: right;
  --osano-widget-position: right;
  --osano-opt-out-widget-position: left;
  --background: hsl(250, 24%, 9%);
  --blue-50: hsl(220, 55%, 10%);
  --blue-100: hsl(220, 55%, 13%);
  --blue-200: hsl(220, 62%, 25%);
  --blue-300: hsl(220, 68%, 35%);
  --blue-400: hsl(220, 72%, 45%);
  --blue-500: hsl(220, 80%, 55%);
  --blue-600: hsl(220, 80%, 65%);
  --blue-700: hsl(220, 80%, 75%);
  --blue-800: hsl(220, 80%, 85%);
  --blue-900: hsl(220, 80%, 95%);
  --blue-950: hsl(220, 55%, 97%);
  --cyan-50: hsl(180, 25%, 10%);
  --cyan-100: hsl(180, 36%, 11%);
  --cyan-200: hsl(180, 45%, 16%);
  --cyan-300: hsl(180, 50%, 28%);
  --cyan-400: hsl(180, 50%, 38%);
  --cyan-500: hsl(180, 50%, 44%);
  --cyan-600: hsl(180, 50%, 62%);
  --cyan-700: hsl(180, 50%, 72%);
  --cyan-800: hsl(180, 50%, 80%);
  --cyan-900: hsl(180, 58%, 91%);
  --cyan-950: hsl(180, 40%, 97%);
  --gray-50: hsl(248, 21%, 13%);
  --gray-100: hsl(246, 18%, 15%);
  --gray-200: hsl(246, 11%, 22%);
  --gray-300: hsl(246,  8%, 35%);
  --gray-400: hsl(246,  7%, 45%);
  --gray-500: hsl(246,  6%, 55%);
  --gray-600: hsl(246,  6%, 65%);
  --gray-700: hsl(246,  6%, 78%);
  --gray-800: hsl(246,  6%, 87%);
  --gray-900: hsl(246,  6%, 95%);
  --gray-950: hsl(246,  4%, 97%);
  --red-50: hsl(1, 35%, 10%);
  --red-100: hsl(1, 45%, 12%);
  --red-200: hsl(1, 55%, 20%);
  --red-300: hsl(1, 62%, 28%);
  --red-400: hsl(1, 62%, 35%);
  --red-500: hsl(1, 62%, 44%);
  --red-600: hsl(1, 62%, 60%);
  --red-700: hsl(1, 62%, 76%);
  --red-800: hsl(1, 64%, 85%);
  --red-900: hsl(1, 68%, 95%);
  --red-950: hsl(1, 55%, 98%);
  --pink-50: hsl(270, 38%, 12%);
  --pink-100: hsl(270, 40%, 16%);
  --pink-200: hsl(270, 45%, 24%);
  --pink-300: hsl(270, 50%, 32%);
  --pink-400: hsl(270, 55%, 43%);
  --pink-500: hsl(270, 60%, 52%);
  --pink-600: hsl(270, 70%, 65%);
  --pink-700: hsl(270, 70%, 75%);
  --pink-800: hsl(270, 70%, 85%);
  --pink-900: hsl(270, 70%, 95%);
  --pink-950: hsl(270, 70%, 98%);
  --green-50: hsl(152, 15%, 10%);
  --green-100: hsl(152, 26%, 11%);
  --green-200: hsl(152, 32%, 16%);
  --green-300: hsl(152, 38%, 24%);
  --green-400: hsl(152, 38%, 34%);
  --green-500: hsl(152, 38%, 42%);
  --green-600: hsl(152, 38%, 60%);
  --green-700: hsl(152, 38%, 70%);
  --green-800: hsl(152, 38%, 80%);
  --green-900: hsl(152, 38%, 91%);
  --green-950: hsl(152, 40%, 97%);
  --yellow-50: hsl(44, 40%, 08%);
  --yellow-100: hsl(44, 40%, 10%);
  --yellow-200: hsl(44, 50%, 16%);
  --yellow-300: hsl(44, 62%, 25%);
  --yellow-400: hsl(44, 70%, 40%);
  --yellow-500: hsl(44, 74%, 52%);
  --yellow-600: hsl(44, 78%, 62%);
  --yellow-700: hsl(44, 78%, 72%);
  --yellow-800: hsl(44, 78%, 80%);
  --yellow-900: hsl(44, 78%, 90%);
  --yellow-950: hsl(44, 75%, 97%);
  --heroGradient: linear-gradient(327.21deg, rgba(33, 0, 75, 0.24) 3.65%, rgba(60, 0, 136, 0) 40.32%), linear-gradient(245.93deg, rgba(209, 21, 111, 0.16) 0%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(147.6deg, rgba(58, 19, 255, 0) 29.79%, rgba(98, 19, 255, 0.01) 85.72%), #13111C;
  --kickbackHerokGradient-900: t;
  --kickbackHerokGradient-undefined: ;
  --partnerProjectsGradient: linear-gradient(108.94deg, #16093B 18.43%, #221228 52.22%);
  --submitPartnerProjectGradient: linear-gradient(97.9deg, rgba(24, 0, 77, 0.4) 5.96%, rgba(104, 3, 88, 0.4) 81.62%, rgba(9, 251, 251, 0.4) 95.18%), linear-gradient(59.12deg, #2C0A5C 45.19%, #5E084D 68.24%);
  --kickbackHeroGradient: linear-gradient(245.93deg, rgba(209, 21, 111, 0.16) 0%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(186.67deg, rgba(56, 0, 169, 0.2) 17.55%, rgba(56, 0, 169, 0.2) 21.02%, rgba(58, 19, 255, 0) 91.62%), #13111C;
  --ai-angle: 0deg;
  --tw-gradient-via-position: ;
  --tw-saturate: ;
  --tw-grayscale: ;
  --tw-gradient-to-position: ;
  --tw-pinch-zoom: ;
  --tw-scale-y: 1;
  --tw-backdrop-contrast: ;
  --tw-pan-x: ;
  --tw-translate-y: 0;
  --tw-translate-x: 0;
  --tw-blur: ;
  --tw-invert: ;
  --tw-contain-layout: ;
  --tw-backdrop-sepia: ;
  --tw-sepia: ;
  --tw-ordinal: ;
  --tw-contain-style: ;
  --tw-backdrop-invert: ;
  --lightningcss-dark: ;
  --tw-backdrop-grayscale: ;
  --tw-hue-rotate: ;
  --tw-pan-y: ;
  --tw-rotate: 0;
  --tw-scroll-snap-strictness: proximity;
  --tw-backdrop-hue-rotate: ;
  --tw-numeric-fraction: ;
  --tw-skew-y: 0;
  --tw-slashed-zero: ;
  --tw-backdrop-opacity: ;
  --tw-gradient-from-position: ;
  --tw-contain-paint: ;
  --tw-backdrop-saturate: ;
  --tw-brightness: ;
  --tw-backdrop-brightness: ;
  --tw-contrast: ;
  --lightningcss-light: ;
  --tw-skew-x: 0;
  --tw-backdrop-blur: ;
  --tw-scale-x: 1;
  --tw-numeric-figure: ;
  /* — dependencies — */
  --osano-button-accept-background-color: --osano-button-background-color;
  --osano-button-accept-border-color: --osano-button-border-color,--osano-button-foreground-color;
  --osano-button-accept-foreground-color: --osano-button-foreground-color;
  --osano-button-reject-all-background-color: --osano-button-background-color;
  --osano-button-reject-all-background-color-hover: --osano-button-background-color-hover,--osano-button-background-color-contrast;
  --osano-button-reject-all-border-color: --osano-button-border-color,--osano-button-foreground-color;
  --osano-button-reject-all-foreground-color: --osano-button-foreground-color;
  --osano-button-manage-background-color: --osano-button-background-color;
  --osano-button-manage-border-color: --osano-button-border-color,--osano-button-foreground-color;
  --osano-button-manage-foreground-color: --osano-button-foreground-color;
  --osano-info-dialog-link-color: --osano-link-color;
  --osano-info-dialog-button-close-color: --osano-info-dialog-foreground-color,--osano-dialog-foreground-color;
  --osano-info-dialog-toggle-off-track-color: --osano-toggle-off-track-color;
  --osano-info-dialog-toggle-off-thumb-color: --osano-toggle-off-thumb-color;
  --osano-info-dialog-toggle-on-track-color: --osano-toggle-on-track-color;
  --osano-info-dialog-toggle-on-thumb-color: --osano-toggle-on-thumb-color;
  --osano-info-dialog-button-background-color: --osano-button-background-color;
  --osano-info-dialog-button-border-color: --osano-info-dialog-button-foreground-color,--osano-button-foreground-color;
  --osano-info-dialog-button-foreground-color: --osano-button-foreground-color;
  --osano-dialog-gpc-background-color: --osano-dialog-background-color;
  --osano-dialog-gpc-border-color: --osano-dialog-foreground-color;
  --osano-dialog-gpc-foreground-color: --osano-dialog-foreground-color;
  --osano-info-dialog-gpc-background-color: --osano-info-dialog-background-color,--osano-dialog-background-color;
  --osano-info-dialog-gpc-border-color: --osano-info-dialog-foreground-color,--osano-dialog-foreground-color;
  --osano-info-dialog-gpc-foreground-color: --osano-info-dialog-foreground-color,--osano-dialog-foreground-color;
  --osano-info-dialog-gpc-color: --osano-dialog-gpc-color;
  --osano-button-background-color-hover: --osano-button-background-color-contrast;
  --osano-button-foreground-color-hover: --osano-button-foreground-color-contrast;
  --osano-button-background-color-focus: --osano-button-foreground-color-hover,--osano-button-foreground-color-contrast;
  --osano-button-foreground-color-focus: --osano-button-background-color-hover,--osano-button-background-color-contrast;
  --osano-toggle-off-track-color-hover: --osano-toggle-off-track-color-contrast;
  --osano-toggle-off-thumb-color-hover: --osano-toggle-off-thumb-color-contrast;
  --osano-toggle-off-track-color-focus: --osano-toggle-off-thumb-color-hover,--osano-toggle-off-thumb-color-contrast;
  --osano-toggle-off-thumb-color-focus: --osano-toggle-off-track-color-hover,--osano-toggle-off-track-color-contrast;
  --osano-toggle-on-track-color-hover: --osano-toggle-on-track-color-contrast;
  --osano-toggle-on-thumb-color-hover: --osano-toggle-on-thumb-color-contrast;
  --osano-toggle-on-track-color-focus: --osano-toggle-on-thumb-color-hover,--osano-toggle-on-thumb-color-contrast;
  --osano-toggle-on-thumb-color-focus: --osano-toggle-on-track-color-hover,--osano-toggle-on-track-color-contrast;
  --osano-button-accept-background-color-contrast: --osano-button-background-color-contrast;
  --osano-button-accept-foreground-color-contrast: --osano-button-foreground-color-contrast;
  --osano-button-accept-background-color-hover: --osano-button-background-color-hover,--osano-button-background-color-contrast;
  --osano-button-accept-foreground-color-hover: --osano-button-accept-foreground-color-contrast,--osano-button-foreground-color-contrast;
  --osano-button-accept-background-color-focus: --osano-button-accept-foreground-color-hover,--osano-button-accept-foreground-color-contrast;
  --osano-button-accept-foreground-color-focus: --osano-button-accept-background-color-hover,--osano-button-background-color-hover;
  --osano-button-deny-background-color-hover: --osano-button-background-color-hover,--osano-button-background-color-contrast;
  --osano-button-deny-foreground-color-hover: --osano-button-deny-foreground-color-contrast;
  --osano-button-deny-background-color-focus: --osano-button-deny-foreground-color-hover,--osano-button-deny-foreground-color-contrast;
  --osano-button-deny-foreground-color-focus: --osano-button-deny-background-color-hover,--osano-button-background-color-hover;
  --osano-button-reject-all-background-color-contrast: --osano-button-background-color-contrast;
  --osano-button-reject-all-foreground-color-contrast: --osano-button-foreground-color-contrast;
  --osano-button-reject-all-foreground-color-hover: --osano-button-reject-all-foreground-color-contrast,--osano-button-foreground-color-contrast;
  --osano-button-reject-all-background-color-focus: --osano-button-reject-all-foreground-color-hover,--osano-button-reject-all-foreground-color-contrast;
  --osano-button-reject-all-foreground-color-focus: --osano-button-reject-all-background-color-hover,--osano-button-background-color-hover;
  --osano-button-manage-background-color-contrast: --osano-button-background-color-contrast;
  --osano-button-manage-foreground-color-contrast: --osano-button-foreground-color-contrast;
  --osano-button-manage-background-color-hover: --osano-button-background-color-hover,--osano-button-background-color-contrast;
  --osano-button-manage-foreground-color-hover: --osano-button-manage-foreground-color-contrast,--osano-button-foreground-color-contrast;
  --osano-button-manage-background-color-focus: --osano-button-manage-foreground-color-hover,--osano-button-manage-foreground-color-contrast;
  --osano-button-manage-foreground-color-focus: --osano-button-manage-background-color-hover,--osano-button-background-color-hover;
  --osano-info-dialog-button-background-color-contrast: --osano-button-background-color-contrast;
  --osano-info-dialog-button-foreground-color-contrast: --osano-button-foreground-color-contrast;
  --osano-info-dialog-button-background-color-hover: --osano-button-background-color-hover,--osano-button-background-color-contrast;
  --osano-info-dialog-button-foreground-color-hover: --osano-info-dialog-button-foreground-color-contrast,--osano-button-foreground-color-contrast;
  --osano-info-dialog-button-background-color-focus: --osano-info-dialog-button-foreground-color-hover,--osano-info-dialog-button-foreground-color-contrast;
  --osano-info-dialog-button-foreground-color-focus: --osano-info-dialog-button-background-color-hover,--osano-button-background-color-hover;
  --osano-info-dialog-toggle-off-track-color-contrast: --osano-toggle-off-track-color-contrast;
  --osano-info-dialog-toggle-off-thumb-color-contrast: --osano-toggle-off-thumb-color-contrast;
  --osano-info-dialog-toggle-off-track-color-hover: --osano-info-dialog-toggle-off-track-color-contrast,--osano-toggle-off-track-color-contrast;
  --osano-info-dialog-toggle-off-thumb-color-hover: --osano-info-dialog-toggle-off-thumb-color-contrast,--osano-toggle-off-thumb-color-contrast;
  --osano-info-dialog-toggle-off-track-color-focus: --osano-info-dialog-toggle-off-thumb-color-hover,--osano-info-dialog-toggle-off-thumb-color-contrast;
  --osano-info-dialog-toggle-off-thumb-color-focus: --osano-info-dialog-toggle-off-track-color-hover,--osano-info-dialog-toggle-off-track-color-contrast;
  --osano-info-dialog-toggle-off-track-color-disabled: --osano-toggle-off-track-color-disabled;
  --osano-info-dialog-toggle-off-thumb-color-disabled: --osano-toggle-off-thumb-color-disabled;
  --osano-info-dialog-toggle-on-track-color-contrast: --osano-toggle-on-track-color-contrast;
  --osano-info-dialog-toggle-on-thumb-color-contrast: --osano-toggle-on-thumb-color-contrast;
  --osano-info-dialog-toggle-on-track-color-hover: --osano-info-dialog-toggle-on-track-color-contrast,--osano-toggle-on-track-color-contrast;
  --osano-info-dialog-toggle-on-thumb-color-hover: --osano-info-dialog-toggle-on-thumb-color-contrast,--osano-toggle-on-thumb-color-contrast;
  --osano-info-dialog-toggle-on-track-color-focus: --osano-info-dialog-toggle-on-thumb-color-hover,--osano-info-dialog-toggle-on-thumb-color-contrast;
  --osano-info-dialog-toggle-on-thumb-color-focus: --osano-info-dialog-toggle-on-track-color-hover,--osano-info-dialog-toggle-on-track-color-contrast;
  --osano-info-dialog-toggle-on-track-color-disabled: --osano-toggle-on-track-color-disabled;
  --osano-info-dialog-toggle-on-thumb-color-disabled: --osano-toggle-on-thumb-color-disabled;
  --osano-info-dialog-link-color-contrast: --osano-link-color-contrast;
  --font-inter-tight: --font-inter;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}