:root {
  /* Colors — Primary */
  --color-primary: #1868db;
  --color-secondary: #ffab00;
  --color-accent: #e9f2fe;

  /* Colors — Neutrals */
  --color-neutral-50: #292a2e;
  --color-neutral-100: #000000;
  --color-neutral-200: #ffffff;
  --color-neutral-300: #696969;
  --color-neutral-400: #555555;
  --color-neutral-500: #f8f8f8;
  --color-neutral-600: #7d818a;
  --color-neutral-700: #d8d8d8;
  --color-neutral-800: #bbbbbb;

  /* Colors — Backgrounds */
  --color-bg: #ffffff;
  --color-bg-1: #101214;
  --color-bg-2: #1868db;
  --color-bg-3: #eed7fc;
  --color-bg-4: #efffd6;
  --color-bg-5: #f8eefe;
  --color-bg-6: #e9f2fe;
  --color-bg-7: #fff5d4;
  --color-bg-8: #123263;
  --color-bg-9: #1558bc;
  --color-bg-10: #292a2e;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #292a2e;
  --color-text-2: #7d818a;
  --color-text-3: #101214;
  --color-text-4: #ffffff;

  /* Typography — Families */
  --font-sans: 'Charlie Text', sans-serif;
  --font-heading: 'Charlie Display', sans-serif;
  --font-body: 'Times', sans-serif;

  /* Typography — Scale */
  --font-size-56.5385: 56.5385px;
  --font-size-40.3077: 40.3077px;
  --font-size-30: 30px;
  --font-size-25.3077: 25.3077px;
  --font-size-24: 24px;
  --font-size-23.5385: 23.5385px;
  --font-size-18.4: 18.4px;
  --font-size-18.2462: 18.2462px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-15.2308: 15.2308px;
  --font-size-15: 15px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-15: 15px;
  --spacing-23: 23px;
  --spacing-30: 30px;
  --spacing-35: 35px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-84: 84px;
  --spacing-103: 103px;
  --spacing-154: 154px;
  --spacing-192: 192px;
  --spacing-269: 269px;

  /* Border Radius */
  --radius-xs: 1px;
  --radius-md: 6px;
  --radius-lg: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-full: 39px;
  --radius-full: 50px;
  --radius-full: 66px;
  --radius-full: 9999px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 4.34077px;
  --shadow-sm: rgba(255, 255, 255, 0.4) 0px 0px 0px 5px, rgba(0, 0, 0, 0.17) 0px 45.612px 86.879px 0px, rgba(0, 0, 0, 0.11) 0px 13.751px 26.192px 0px, rgba(0, 0, 0, 0.09) 0px 5.71104px 10.879px 0px, rgba(0, 0, 0, 0.06) 0px 2.06592px 3.93504px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.04) 0px 2px 6px 0px, rgba(0, 0, 0, 0.06) 0px 5px 18px 0px, rgba(0, 0, 0, 0.1) 0px 24px 83px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.25) 0px 3.24px 3.24px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.04) 0px 2px 6px 0px, rgba(0, 0, 0, 0.06) 0px 5px 18px 0px, rgba(0, 0, 0, 0.1) 0px 24px 83px 0px;
  --shadow-md: rgb(199, 197, 199) -3px -3px 5px -2px;
  --shadow-md: rgba(0, 0, 0, 0.03) 0px 4px 6.4px 0px, rgba(0, 0, 0, 0.05) 0px 3px 9.6px 0px, rgba(0, 0, 0, 0.07) 0px 8px 32px 0px, rgba(0, 0, 0, 0.1) 0px 32px 96px 0px;
  --shadow-md: rgba(0, 0, 0, 0.2) 0px 6px 6px 3px;
  --shadow-md: rgb(153, 153, 153) 0px 2px 10px -3px;
  --shadow-md: rgb(199, 197, 199) 0px 0px 12px 2px;
  --shadow-xl: rgba(0, 0, 0, 0.25) 0px 15px 50px 0px;

  /* Original Site Variables */
  /* — colors — */
  --lns-color-body: var(--lns-themeLight-color-body);
  --lns-color-bodyDimmed: var(--lns-themeLight-color-bodyDimmed);
  --lns-color-background: var(--lns-themeLight-color-background);
  --lns-color-backgroundHover: var(--lns-themeLight-color-backgroundHover);
  --lns-color-backgroundActive: var(--lns-themeLight-color-backgroundActive);
  --lns-color-overlay: var(--lns-themeLight-color-overlay);
  --lns-color-primary: var(--lns-themeLight-color-primary);
  --lns-color-primaryHover: var(--lns-themeLight-color-primaryHover);
  --lns-color-primaryActive: var(--lns-themeLight-color-primaryActive);
  --lns-color-focusRing: var(--lns-themeLight-color-focusRing);
  --lns-color-record: var(--lns-themeLight-color-record);
  --lns-color-recordHover: var(--lns-themeLight-color-recordHover);
  --lns-color-recordActive: var(--lns-themeLight-color-recordActive);
  --lns-color-border: var(--lns-themeLight-color-border);
  --lns-color-disabledContent: var(--lns-themeLight-color-disabledContent);
  --lns-color-disabledBackground: var(
    --lns-themeLight-color-disabledBackground
  );
  --lns-color-backdrop: var(--lns-themeLight-color-backdrop);
  --lns-color-formFieldBorder: var(--lns-themeLight-color-formFieldBorder);
  --lns-color-formFieldBackground: var(
    --lns-themeLight-color-formFieldBackground
  );
  --thd-color-grey-10: #f8f8f8;
  --thd-color-grey-20: #f0f1f2;
  --thd-color-grey-30: #dddee1;
  --thd-color-grey-40: #b7b9be;
  --thd-color-grey-50: #8c8f97;
  --thd-color-grey-50-50: #8c8f9780;
  --thd-color-grey-60: #7d818a;
  --thd-color-grey-70: #6c6f77;
  --thd-color-grey-80: #505258;
  --thd-color-grey-90: #3b3d42;
  --thd-color-grey-100: #292a2e;
  --thd-color-grey-light-border: #e4e2e7;
  --thd-color-blue-0: #1868db00;
  --thd-color-blue-10: #e9f2fe;
  --thd-color-blue-20: #cfe1fd;
  --thd-color-blue-30: #8fb8f6;
  --thd-color-blue-40: #669df1;
  --thd-color-blue-50: #4d8ced;
  --thd-color-blue-60: #357de8;
  --thd-color-blue-70: #1868db;
  --thd-color-blue-70-50: #1868db80;
  --thd-color-blue-80: #1558bc;
  --thd-color-blue-90: #123263;
  --thd-color-blue-100: #1c2b42;
  --thd-color-blue-gradient: linear-gradient(135deg,var(--thd-color-blue-50) 0%,var(--thd-color-blue-70) 100%);
  --thd-color-violet-0: #f8eefe00;
  --thd-color-violet-10: #f8eefe;
  --thd-color-violet-20: #eed7fc;
  --thd-color-violet-30: #d8a0f7;
  --thd-color-violet-30-50: #d8a0f780;
  --thd-color-violet-40: #c97cf4;
  --thd-color-violet-50: #bf63f3;
  --thd-color-violet-50-80: #bf63f3cc;
  --thd-color-violet-60: #af59e1;
  --thd-color-violet-60-40: #af59e166;
  --thd-color-violet-70: #964ac0;
  --thd-color-violet-80: #803fa5;
  --thd-color-violet-80-80: #803fa5cc;
  --thd-color-violet-90: #48245d;
  --thd-color-violet-90-80: #48245dcc;
  --thd-color-violet-100: #35243f;
  --thd-color-violet-100-60: #35243f99;
  --thd-color-yellow-10: #fff5d4;
  --thd-color-yellow-20: #ffe48f;
  --thd-color-yellow-30: #ffc716;
  --thd-color-yellow-40: #ffa900;
  --thd-color-yellow-50: #eb9100;
  --thd-color-yellow-50-20: #eb910033;
  --thd-color-yellow-60: #c77b00;
  --thd-color-yellow-70: #a36700;
  --thd-color-yellow-80: #8a5700;
  --thd-color-yellow-90: #5c3900;
  --thd-color-yellow-100: #372d1d;
  --thd-color-green-10: #efffd6;
  --thd-color-green-20: #d3f1a7;
  --thd-color-green-30: #b3df72;
  --thd-color-green-40: #94c748;
  --thd-color-green-50: #82b536;
  --thd-color-green-50-50: #82b53680;
  --thd-color-green-50-80: #82b536cc;
  --thd-color-green-60: #6a9a23;
  --thd-color-green-60-40: #6a9a2366;
  --thd-color-green-70: #5b7f24;
  --thd-color-green-80: #4c6b1f;
  --thd-color-green-90: #37471f;
  --thd-color-green-100: #28311b;
  --thd-color-record: #ff613d;
  --thd-color-record-20: #ff613d20;
  --thd-color-white: #fff;
  --thd-color-black-0: transparent;
  --thd-color-black: #101214;
  --thd-color-black-50: #10121480;
  --thd-color-black-neutral: #1e1f21;
  --thd-color-border-grey: #f1f0f3;
  --thd-color-rovo-gradient: conic-gradient(from 180deg at 50% 50%,var(--thd-color-blue-70,#1868db) 55.38461744785309deg,var(--thd-color-green-400,#94c748) 145.80000042915344deg,var(--thd-color-purple-70,#bf63f3) 228.46153020858765deg,var(--thd-color-yellow-70,#ffa900) 337.5deg);
  --thd-color-button-ol: #a3c3f1;
  --thd-color-button-fr: #1868db;
  --thd-color-button-sh: #1868db80;
  --thd-color-overlay: rgba(0,0,0,.5);
  --thd-border-radius-md: clamp(1.5rem,5vw,2rem);
  --thd-border-radius-lg: clamp(2rem,6vw,2.75rem);
  --lns-themeLight-color-backdropDark: hsla(228,6%,17%,0.9);
  --lns-color-buttonBorder: hsla(252,13%,46%,0.25);
  --lns-color-info: hsla(215,80.25%,47.65%,1);
  --lns-themeDark-color-highlightActive: hsla(215.4,80%,47.65%,0.45);
  --lns-themeLight-color-upgrade: hsla(277.5,89%,96.5%,1);
  --lns-themeDark-color-highlightHover: hsla(215.4,80%,47.65%,0.3);
  --lns-color-backdropDark: hsla(228,6%,17%,0.9);
  --lns-themeDark-color-background: hsla(240,3%,12.5%,1);
  --lns-themeLight-color-overlayHover: hsla(210,7%,94.5%,1);
  --lns-themeLight-color-discoveryBackground: hsla(278.6,48.4%,52.2%,1);
  --lns-themeDark-color-overlay: hsla(225,4%,17.6%,1);
  --lns-color-blurpleLight: hsla(214.3,91.3%,95.5%,1);
  --lns-themeLight-color-discoveryHighlight: hsla(277.5,89%,96.5%,1);
  --lns-themeDark-color-record: hsla(11,100%,62.2%,1);
  --lns-themeLight-color-highlightActive: hsla(215.4,80%,47.65%,0.45);
  --lns-themeDark-color-backdrop: hsla(210,11%,7%,0.6);
  --lns-color-grey4: hsla(223,5%,73%,1);
  --lns-formFieldBorderWidth: 1px;
  --lns-themeLight-color-formFieldBorder: hsla(223.6,5%,57%,1);
  --lns-themeLight-color-primaryActive: hsla(216.3,69.2%,22.9%,1);
  --lns-themeLight-color-backgroundSecondary2: hsla(0,0%,97.25%,1);
  --tw-ring-color: rgba(59,130,246,.5);
  --lns-themeDark-color-backgroundNeutral: hsla(240,12.6%,83%,0.07);
  --lns-themeLight-color-upgradeActive: hsla(278.6,84.5%,79.8%,1);
  --lns-themeLight-color-body: hsla(228,6%,17%,1);
  --lns-themeLight-color-backgroundNeutral: hsla(209,76%,8%,0.08);
  --lns-themeLight-color-bodyDimmed: hsla(224,5%,44%,1);
  --lns-formFieldBorderShadow: inset 0 0 0 1px hsla(223.6,5%,57%,1);
  --lns-themeLight-color-bodyInverse: hsla(0,0%,100%,1);
  --lns-themeDark-color-recordActive: hsla(11,100%,42.2%,1);
  --lns-color-white: hsla(0,0%,100%,1);
  --lns-color-yellowLight: hsla(43,93%,82%,1);
  --lns-color-upgrade: hsla(277.5,89%,96.5%,1);
  --lns-themeDark-color-overlayActive: hsla(225,4.69%,25.1%,1);
  --lns-color-backgroundNeutral: hsla(209,76%,8%,0.08);
  --lns-color-upgradeActive: hsla(278.6,84.5%,79.8%,1);
  --lns-themeDark-color-disabledContent: hsla(225,5%,33%,1);
  --lns-themeDark-color-dangerHover: hsla(4,96%,78%,1);
  --lns-color-magenta: hsla(323,42%,48%,1);
  --lns-themeDark-color-upgradeActive: hsla(278,45%,44.7%,1);
  --lns-themeDark-color-highlight: hsla(215.4,80%,47.65%,0.15);
  --lns-color-backgroundSecondary: hsla(0,0%,97.25%,1);
  --lns-color-tabBackground: hsla(209,75.6%,8%,0.06);
  --lns-themeLight-color-backgroundSecondary: hsla(0,0%,97.25%,1);
  --lns-color-blurpleMedium: hsla(216.5,92%,90.2%,1);
  --lns-themeDark-color-primaryActive: hsla(216.5,92%,90.2%,1);
  --lns-themeDark-color-backgroundHover: hsla(240,12.6%,83%,0.07);
  --lns-themeDark-color-backgroundActive: hsla(236,36.6%,92%,0.12);
  --lns-themeLight-color-buttonBorder: hsla(252,13%,46%,0.25);
  --lns-color-red: hsla(4,64%,48%,1);
  --lns-themeDark-color-primaryHover: hsla(216.1,85.1%,76.3%,1);
  --lns-color-discoveryHighlight: hsla(277.5,89%,96.5%,1);
  --lns-color-grey3: hsla(225,6%,87.5%,1);
  --lns-color-blurpleDark: hsla(215.9,79.9%,41%,1);
  --lns-formFieldBorderShadowFocus: inset 0 0 0 2px hsla(215.4,80%,47.65%,1),
    0 0 0 2px hsla(216.1,81.4%,60%,1);
  --lns-color-blueDark: hsla(216.3,69.2%,23%,1);
  --lns-color-upgradeHover: hsla(277,86%,91.6%,1);
  --lns-color-success: hsla(155,62%,32%,1);
  --lns-themeLight-color-tabBackground: hsla(209,75.6%,8%,0.06);
  --lns-color-orangeDark: hsla(10.9,100%,42.2%,1);
  --lns-themeDark-color-success: hsla(155,57%,55%,1);
  --lns-themeLight-color-recordActive: hsla(11,100%,42.2%,1);
  --lns-themeLight-color-primaryHover: hsla(215.9,79.9%,41%,1);
  --lns-themeLight-color-backdrop: hsla(224,72%,7%,0.46);
  --lns-color-overlayHover: hsla(210,7%,94.5%,1);
  --lns-themeLight-color-backgroundNeutralHover: hsla(226,57%,1%,0.14);
  --lns-color-tealDark: hsla(155,55%,19%,1);
  --lns-color-warning: hsla(45.5,96%,57%,1);
  --lns-color-offWhite: hsla(0,0%,97.25%,1);
  --lns-color-blue: hsla(215.4,80%,47.65%,1);
  --lns-themeLight-color-backgroundInverse: hsla(228,6%,17%,1);
  --lns-themeDark-color-formFieldBackground: hsla(225,5%,15%,1);
  --lns-color-backgroundSecondary2: hsla(0,0%,97.25%,1);
  --lns-color-danger: hsla(4,64%,48%,1);
  --lns-themeDark-color-discoveryTitle: hsla(225,4.3%,81.6%,1);
  --lns-themeLight-color-backdropTwilight: hsla(216.3,69.2%,22.9%,0.8);
  --lns-color-highlightActive: hsla(215.4,80%,47.65%,0.45);
  --lns-themeDark-color-discoveryHighlight: hsla(277.8,27.3%,19.4%,1);
  --lns-themeDark-color-dangerActive: hsla(4,100%,91.2%,1);
  --tw-border-spacing-y: 0;
  --lns-themeDark-color-warning: hsla(45.5,96%,57%,1);
  --lns-color-tealLight: hsla(155,70%,84%,1);
  --lns-color-highlightHover: hsla(215.4,80%,47.65%,0.3);
  --lns-color-magentaDark: hsla(324,37%,23%,1);
  --lns-themeDark-color-danger: hsla(3.75,91%,69%,1);
  --lns-themeDark-color-overlayHover: hsla(225,4%,19.61%,1);
  --lns-themeDark-color-info: hsla(216.3,83%,67.25%,1);
  --lns-color-grey6: hsla(224,5%,44%,1);
  --tw-ring-shadow: 0 0 #0000;
  --lns-color-teal: hsla(155,62%,32%,1);
  --lns-themeLight-color-dangerActive: hsla(4.5,56.3%,23.3%,1);
  --lns-themeLight-color-backgroundHover: hsla(209,75.6%,8%,0.08);
  --lns-themeDark-color-discoveryLightBackground: hsla(277.8,27.3%,19.4%,1);
  --lns-color-yellowDark: hsla(39.8,100%,49.4%,1);
  --lns-color-grey8: hsla(228,6%,17%,1);
  --lns-color-orangeLight: hsla(4,100%,91.2%,1);
  --lns-themeLight-color-dangerHover: hsla(4.3,65.7%,41.2%,1);
  --lns-color-dangerActive: hsla(4.5,56.3%,23.3%,1);
  --tw-border-spacing-x: 0;
  --lns-themeDark-color-backgroundSecondary2: hsla(210,4%,9.8%,1);
  --lns-color-orange: hsla(11,100%,62.2%,1);
  --lns-themeLight-color-primary: hsla(215.4,80%,47.65%,1);
  --lns-themeDark-color-discoveryBackground: hsla(278.5,84.5%,72.2%,1);
  --lns-themeDark-color-tabBackground: hsla(240,12.6%,83%,0.07);
  --lns-color-discoveryBackground: hsla(278.6,48.4%,52.2%,1);
  --lns-color-highlight: hsla(215.4,80%,47.65%,0.15);
  --lns-themeDark-color-formFieldBorder: hsla(222,4%,51.4%,1);
  --tw-ring-offset-color: #fff;
  --lns-themeLight-color-success: hsla(155,62%,32%,1);
  --lns-themeLight-color-recordHover: hsla(11,100%,52.2%,1);
  --lns-themeLight-color-focusRing: hsla(216.1,81.4%,60%,1);
  --lns-color-bodyInverse: hsla(0,0%,100%,1);
  --lns-themeDark-color-bodyDimmed: hsla(217.5,4%,60.4%,1);
  --lns-color-grey7: hsla(223,6%,24.5%,1);
  --lns-themeLight-color-highlightHover: hsla(215.4,80%,47.65%,0.3);
  --lns-themeDark-color-upgradeHover: hsla(278,44.2%,25.3%,1);
  --lns-color-redDark: hsla(4,56%,23%,1);
  --lns-color-grey5: hsla(224,5%,57%,1);
  --lns-gradient-ai-secondary: radial-gradient(138.41% 100% at 100% 100%, #E9F2FE 0%, #FFF 100%);
  --lns-themeLight-color-record: hsla(11,100%,62.2%,1);
  --lns-color-backgroundInverse: hsla(228,6%,17%,1);
  --lns-themeDark-color-upgrade: hsla(277.8,27.3%,19.4%,1);
  --tw-ring-offset-width: 0px;
  --lns-themeLight-color-upgradeHover: hsla(277,86%,91.6%,1);
  --lns-color-blurple: hsla(215.4,80%,47.65%,1);
  --lns-themeDark-color-backdropTwilight: hsla(216.3,69.2%,22.9%,0.8);
  --lns-themeDark-color-disabledBackground: hsla(0,0%,1%,0.46);
  --lns-themeDark-color-primary: hsla(216.3,83.2%,67.3%,1);
  --lns-themeDark-color-buttonBorder: hsla(0,0%,100%,0.25);
  --tw-shadow-colored: 0 0 #0000;
  --lns-themeDark-color-body: hsla(225,4.3%,81.6%,1);
  --lns-themeLight-color-highlight: hsla(215.4,80%,47.65%,0.15);
  --lns-themeLight-color-discoveryLightBackground: hsla(277.5,89%,96.5%,1);
  --lns-themeLight-color-overlay: hsla(0,0%,100%,1);
  --lns-gradient-ai-primary: conic-gradient(from 270deg, #0469FF 90deg, #BF63F3 180deg, #FFA900 270deg, #0065FF 360deg);
  --lns-themeDark-color-bodyInverse: hsla(240,3%,12.5%,1);
  --tw-ring-offset-shadow: 0 0 #0000;
  --lns-themeLight-color-backgroundNeutralActive: hsla(223,61%,8%,0.28);
  --lns-themeLight-color-info: hsla(215,80.25%,47.65%,1);
  --lns-color-backgroundNeutralActive: hsla(223,61%,8%,0.28);
  --lns-themeDark-color-focusRing: hsla(216.1,85.1%,76.3%,1);
  --lns-themeLight-color-border: hsla(225.5,57%,10%,0.14);
  --tw-ring-inset: ;
  --lns-color-grey1: hsla(0,0%,97.25%,1);
  --lns-themeLight-color-formFieldBackground: hsla(0,0%,100%,1);
  --lns-color-grey2: hsla(210,7%,94.5%,1);
  --focus-ring-offset: 0.375rem;
  --lns-color-backdropTwilight: hsla(216.3,69.2%,22.9%,0.8);
  --lns-themeLight-color-overlayActive: hsla(225,6%,87.5%,1);
  --lns-color-discoveryLightBackground: hsla(277.5,89%,96.5%,1);
  --lns-color-backgroundNeutralHover: hsla(226,57%,1%,0.14);
  --lns-themeDark-color-recordHover: hsla(11,100%,52.2%,1);
  --lns-formFieldBorderShadowError: inset 0 0 0 2px hsla(4,64%,48%,1),
    0 0 0 2px hsla(4,100%,91.2%,1);
  --lns-themeDark-color-backgroundNeutralActive: hsla(226,49%,93%,0.25);
  --lns-themeDark-color-backgroundInverse: hsla(225,4.3%,81.6%,1);
  --lns-formFieldBorderWidthFocus: 2px;
  --lns-themeLight-color-disabledContent: hsla(223,5%,73%,1);
  --lns-color-discoveryTitle: hsla(228,6%,17%,1);
  --focus-ring-color: currentColor;
  --lns-color-overlayActive: hsla(225,6%,87.5%,1);
  --lns-themeLight-color-background: hsla(0,0%,100%,1);
  --lns-color-blurpleStrong: hsla(216.3,69.2%,22.9%,1);
  --lns-color-magentaLight: hsla(323,92%,90%,1);
  --lns-color-yellow: hsla(45.5,96%,57%,1);
  --lns-themeLight-color-backgroundActive: hsla(225.5,56.9%,10%,0.14);
  --lns-themeDark-color-backgroundNeutralHover: hsla(236,36.6%,92%,0.12);
  --lns-color-dangerHover: hsla(4.3,65.7%,41.2%,1);
  --lns-themeLight-color-warning: hsla(45.5,96%,57%,1);
  --lns-themeDark-color-backdropDark: hsla(228,6%,17%,0.9);
  --lns-themeLight-color-disabledBackground: hsla(0,0%,9%,0.03);
  --lns-color-blueLight: hsla(216.5,92%,90.2%,1);
  --lns-themeLight-color-danger: hsla(4,64%,48%,1);
  --lns-themeLight-color-discoveryTitle: hsla(228,6%,17%,1);
  --lns-themeDark-color-backgroundSecondary: hsla(210,4%,9.8%,1);
  --lns-themeDark-color-border: hsla(236,36.6%,92%,0.12);
  /* — spacing — */
  --thd-space-fluid-xs-min: 2;
  --thd-space-fluid-xs-max: 3;
  --thd-space-fluid-sm-min: 3;
  --thd-space-fluid-sm-max: 5;
  --thd-space-fluid-md-min: 4;
  --thd-space-fluid-md-max: 7;
  --thd-space-fluid-lg-min: 5;
  --thd-space-fluid-lg-max: 9;
  --thd-space-fixed-sm: 0.5rem;
  --thd-space-fixed-md: 1rem;
  --thd-space-fixed-lg: 1.5rem;
  --thd-space-fixed-xl: 2rem;
  --thd-space-fixed-2xl: 2.5rem;
  --thd-space-fixed-3xl: 3rem;
  --thd-space-fixed-4xl: 3.5rem;
  --thd-space-fixed-5xl: 5rem;
  --thd-space-fluid-vw-start: 46.785;
  --thd-space-fluid-vw-end: 120;
  --lns-fontSize-heading-lg: calc(6 * 0.5rem);
  --lns-letterSpacing-xlarge: -0.2px;
  --lns-letterSpacing-large: -0.2px;
  --lns-letterSpacing-body-sm: normal;
  --lns-formFieldHorizontalPadding: calc(2 * 0.5rem);
  --lns-letterSpacing-xxxlarge: -1.2px;
  --lns-space-xsmall: calc(0.5 * 0.5rem);
  --lns-fontSize-heading-sm: calc(3 * 0.5rem);
  --lns-letterSpacing-xxlarge: -0.5px;
  --tw-numeric-spacing: ;
  --lns-letterSpacing-heading-sm: -0.2px;
  --lns-letterSpacing-medium: normal;
  --lns-letterSpacing-small: normal;
  --lns-letterSpacing-body-lg: -0.2px;
  --lns-fontSize-small: calc(1.5 * 0.5rem);
  --lns-fontSize-xxlarge: calc(4 * 0.5rem);
  --lns-fontSize-medium: calc(1.75 * 0.5rem);
  --lns-fontSize-xlarge: calc(3 * 0.5rem);
  --lns-fontSize-body-sm: calc(1.5 * 0.5rem);
  --lns-fontSize-body-md: calc(1.75 * 0.5rem);
  --lns-fontSize-body-lg: calc(2.25 * 0.5rem);
  --lns-fontSize-large: calc(2.25 * 0.5rem);
  --lns-letterSpacing-body-md: normal;
  --lns-letterSpacing-heading-lg: -1.2px;
  --lns-space-xxlarge: calc(8 * 0.5rem);
  --lns-space-xlarge: calc(5 * 0.5rem);
  --lns-fontSize-heading-md: calc(4 * 0.5rem);
  --lns-letterSpacing-heading-md: -0.5px;
  --lns-space-large: calc(3 * 0.5rem);
  --lns-fontSize-xxxlarge: calc(6 * 0.5rem);
  --lns-space-medium: calc(2 * 0.5rem);
  --lns-space-small: calc(1 * 0.5rem);
  /* — typography — */
  --lns-fontWeight-medium: 500;
  --lns-fontWeight-regular: 400;
  --lns-fontWeight-bold: 653;
  --lns-fontWeight-book: 400;
  --lns-fontSetting-normal: 'normal';
  --lns-fontSetting-tnum: 'tnum';
  /* — shadows — */
  --thd-shadow: 0 0.125rem 0.375rem 0px rgba(0,0,0,.04),0px 0.3125rem 1.125rem 0 rgba(0,0,0,.06),0 1.5rem 5.1875rem 0 rgba(0,0,0,.1);
  --thd-shadow-nav: 0 0.125rem 0.375rem 0px rgba(0,0,0,.04),0px 0.3125rem 1.125rem 0 rgba(0,0,0,.06),0 1.5rem 5.1875rem 0 rgba(0,0,0,.1);
  --lns-shadow-small: 0 calc(0.5 * 0.5rem) calc(1.25 * 0.5rem) hsla(0, 0%, 0%, 0.05);
  --lns-shadow-medium: 0 calc(0.5 * 0.5rem) calc(1.25 * 0.5rem) hsla(0, 0%, 0%, 0.1);
  --tw-drop-shadow: ;
  --lns-shadow-large: 0 calc(0.75 * 0.5rem) calc(3 * 0.5rem) hsla(0, 0%, 0%, 0.1);
  --tw-shadow: 0 0 #0000;
  /* — radii — */
  --thd-rounded-fluid-ext-min: 3.5;
  --thd-rounded-fluid-ext-max: 4.5;
  --thd-rounded-fluid-int-min: 2;
  --thd-rounded-fluid-int-max: 2.75;
  --lns-radius-250: calc(2.5 * 0.5rem);
  --lns-radius-none: 0;
  --lns-radius-175: calc(1.75 * 0.5rem);
  --lns-radius-xlarge: calc(3 * 0.5rem);
  --lns-formFieldRadius: calc(1.75 * 0.5rem);
  --lns-radius-300: calc(3 * 0.5rem);
  --lns-radius-100: calc(1 * 0.5rem);
  --lns-radius-large: calc(2 * 0.5rem);
  --lns-radius-50: calc(0.5 * 0.5rem);
  --lns-radius-medium: calc(1 * 0.5rem);
  --lns-radius-200: calc(2 * 0.5rem);
  --lns-radius-150: calc(1.5 * 0.5rem);
  --lns-radius-full: calc(999 * 0.5rem);
  --lns-radius-round: calc(999 * 0.5rem);
  /* — other — */
  --reach-tabs: 1;
  --thd-nav-h: 5.625rem;
  --thd-nav-sm-h-logged-in: 37.5rem;
  --thd-nav-sm-h-logged-out: 10rem;
  --thd-screen-xs: 23.4375rem;
  --thd-screen-sm: 40rem;
  --thd-screen-md: 48rem;
  --thd-screen-lg: 64rem;
  --thd-screen-xl: 80rem;
  --thd-screen-2xl: 84.875rem;
  --thd-screen-3xl: 100rem;
  --thd-screen-4xl: 120rem;
  --thd-screen-5xl: 142.75rem;
  --thd-fluid-vw-start: 48;
  --thd-fluid-vw-end: 100;
  --thd-gradient-nav: linear-gradient(180deg,rgba(0,0,0,.07),transparent);
  --thd-focus-thick: 0 0 0 0.125rem var(--thd-color-blue-80);
  --thd-focus-thin: 0 0 0 0.1875rem var(--thd-color-blue-80);
  --thd-base-ff-heading: "ss01","ss02","ss08";
  --thd-base-ff-body: "ss08";
  --thd-base-ls: 0;
  --thd-base-max-w: 65ch;
  --thd-base-fw-heading: 700;
  --thd-base-fw-body: 400;
  --thd-label-fs-min: 0.5;
  --thd-label-fs-max: 0.625;
  --thd-label-lh: 1.455;
  --thd-label-ls: 0;
  --thd-caption-fs-min: 0.6875;
  --thd-caption-fs-max: 0.8125;
  --thd-caption-lh: 1.455;
  --thd-caption-ls: 0;
  --thd-overline-fs-min: 0.6875;
  --thd-overline-fs-max: 0.8125;
  --thd-overline-lg-fs-min: 1.375;
  --thd-overline-lg-fs-max: 1.625;
  --thd-overline-lh: 1.455;
  --thd-overline-ls: 0;
  --thd-body-sm-fs-min: 0.875;
  --thd-body-sm-fs-max: 1;
  --thd-body-sm-lh: 1.714;
  --thd-body-sm-ls: 0;
  --thd-body-md-fs-min: 1.065;
  --thd-body-md-fs-max: 1.1875;
  --thd-body-md-lh: 1.647;
  --thd-body-md-ls: 0;
  --thd-body-lg-fs-min: 1.3125;
  --thd-body-lg-fs-max: 1.75;
  --thd-body-lg-lh: 1.524;
  --thd-body-lg-ls: 0;
  --thd-heading-xs-fs-min: 1.125;
  --thd-heading-xs-fs-max: 1.6875;
  --thd-heading-xs-lh: 1.333;
  --thd-heading-xs-ls: 0;
  --thd-heading-sm-fs-min: 1.375;
  --thd-heading-sm-fs-max: 2.1875;
  --thd-heading-sm-lh: 1.273;
  --thd-heading-sm-ls: 0;
  --thd-heading-md-fs-min: 1.75;
  --thd-heading-md-fs-max: 3;
  --thd-heading-md-lh: 1.143;
  --thd-heading-md-ls: 0;
  --thd-heading-lg-fs-min: 2.1875;
  --thd-heading-lg-fs-max: 4.375;
  --thd-heading-lg-lh: 1.029;
  --thd-heading-lg-ls: 0;
  --thd-heading-xl-fs-min: 3;
  --thd-heading-xl-fs-max: 5.625;
  --thd-heading-xl-lh: 1;
  --thd-heading-xl-ls: 0;
  --thd-heading-xl-alt-fs-min: 3;
  --thd-heading-xl-alt-fs-max: 11.25;
  --thd-heading-xl-alt-lh: 1;
  --thd-heading-xl-alt-ls: 0;
  --thd-gradient-white: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 31.77%);
  --lns-lineHeight-medium: 1.57;
  --lns-lineHeight-heading-sm: 1.16;
  --tw-saturate: ;
  --tw-grayscale: ;
  --lns-lineHeight-xxxlarge: 1.16;
  --tw-pinch-zoom: ;
  --tw-scale-y: 1;
  --tw-backdrop-contrast: ;
  --tw-pan-x: ;
  --tw-translate-y: 0;
  --lns-unit: 0.5rem;
  --tw-translate-x: 0;
  --lns-formFieldHeight: calc(4.5 * 0.5rem);
  --lns-lineHeight-body-lg: 1.44;
  --tw-blur: ;
  --tw-invert: ;
  --tw-backdrop-sepia: ;
  --tw-sepia: ;
  --tw-ordinal: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-grayscale: ;
  --tw-hue-rotate: ;
  --tw-pan-y: ;
  --lns-lineHeight-small: 1.5;
  --tw-rotate: 0;
  --lns-lineHeight-xlarge: 1.16;
  --tw-scroll-snap-strictness: proximity;
  --tw-backdrop-hue-rotate: ;
  --tw-numeric-fraction: ;
  --tw-skew-y: 0;
  --tw-slashed-zero: ;
  --lns-lineHeight-heading-lg: 1.16;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --lns-lineHeight-xxlarge: 1.125;
  --tw-brightness: ;
  --tw-backdrop-brightness: ;
  --lns-lineHeight-body-md: 1.57;
  --lns-lineHeight-heading-md: 1.125;
  --tw-contrast: ;
  --tw-skew-x: 0;
  --lns-lineHeight-body-sm: 1.5;
  --tw-backdrop-blur: ;
  --tw-scale-x: 1;
  --lns-lineHeight-large: 1.44;
  --tw-numeric-figure: ;
  /* — dependencies — */
  --lns-color-body: --lns-themeLight-color-body;
  --lns-color-bodyDimmed: --lns-themeLight-color-bodyDimmed;
  --lns-color-background: --lns-themeLight-color-background;
  --lns-color-backgroundHover: --lns-themeLight-color-backgroundHover;
  --lns-color-backgroundActive: --lns-themeLight-color-backgroundActive;
  --lns-color-overlay: --lns-themeLight-color-overlay;
  --lns-color-primary: --lns-themeLight-color-primary;
  --lns-color-primaryHover: --lns-themeLight-color-primaryHover;
  --lns-color-primaryActive: --lns-themeLight-color-primaryActive;
  --lns-color-focusRing: --lns-themeLight-color-focusRing;
  --lns-color-record: --lns-themeLight-color-record;
  --lns-color-recordHover: --lns-themeLight-color-recordHover;
  --lns-color-recordActive: --lns-themeLight-color-recordActive;
  --lns-color-border: --lns-themeLight-color-border;
  --lns-color-disabledContent: --lns-themeLight-color-disabledContent;
  --lns-color-backdrop: --lns-themeLight-color-backdrop;
  --lns-color-formFieldBorder: --lns-themeLight-color-formFieldBorder;
  --thd-color-blue-gradient: --thd-color-blue-50,--thd-color-blue-70;
  --thd-color-rovo-gradient: --thd-color-blue-70,--thd-color-green-400,--thd-color-purple-70,--thd-color-yellow-70;
  --thd-focus-thick: --thd-color-blue-80;
  --thd-focus-thin: --thd-color-blue-80;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}